{% extends "Layout.html.twig"%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h2>Añadir Etiquetas</h2>
                <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                </div>
                <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" href="{{ path('tag_index') }}">Regresar</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    
{% endblock %}
